* {
  /* margin: 0;
      padding: 0;
      box-sizing: border-box; */
}

body {
  text-align: center;
  background: url("./img/bg-body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  align-items: center;
  font-style: italic;
  color: white;
}

h1 span {
  color: rgb(255, 0, 0);
}

table th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 0;
  padding: 5px;
}

.container-input {
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  /* border: black 1px;
      border-style: solid; */
}

label {
  flex: 1;
  margin-right: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

input[type="text"],
input[type="number"] {
  flex: 4;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

input[type="text"],
input[type="number"]:hover {
  color: black;
  outline-color: transparent;
  outline-style: solid;
}

.tombol-group {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
}

.cari-group {
  text-align: left;
  margin-bottom: 10px;
}

.container-tabel {
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

th,
td {
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

table tbody img {
  width: 100px;
  margin: 5px;
}

button {
  font-size: 15px;
  font-weight: 500;
  color: beige;
  height: 35px;
  width: 80px;
  border: none;
  border-radius: 20px;
  outline: none;
  background: black;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.851);
  color: black;
  background: white;
  transition: 0.7s;
}

button:hover:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px green;
}

/* tbody button {
  width: 40px;
} */

/* Button Cari */

#tombolCari {
  font-size: 13px;
  font-weight: 500;
  color: beige;
  height: 20px;
  width: 60px;
  border: none;
  border-radius: 20px;
  outline: none;
  background: black;
  cursor: pointer;
}

#tombolCari:hover {
  background-color: rgba(0, 0, 0, 0.851);
  color: black;
  background: white;
  transition: 0.7s;
}

#tombolCari:hover:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px green;
}

#filmKosong {
  margin: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.5);
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  padding: 15px;
  flex: 1;
  font-size: 0.8em;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.card-content p {
  margin: 5px 0;
}

.trailer-link {
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.trailer-link:hover {
  text-decoration: underline;
}

.card-actions {
  /* margin-top: 15px; */
  margin-bottom: 20px;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px 15px; */
  bottom: 0;
  position: absolute;
  left: 19%;
}

.delete-button {
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2em;
  background-color: red;
}

.delete-button:hover {
  color: darkred;
}

#tabelListFilm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#tabelListFilm h1{
  color: black;
  font-style: normal;
}

/* Pop-up Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#confirmDelete {
  background-color: #d33;
  color: white;
}

#cancelDelete {
  background-color: #3085d6;
  color: white;
}
